body {
    background: url("../img/cielo.jpg");
    background-attachment: fixed;
}

#logo {
    background-color: #1f87c4;
}

#menu ul li:hover {
    background-color: #1f87c4;
}

.button-more {
    background-color: #1f87c4;
}

.ui-state-active, 
.ui-widget-content 
.ui-state-active, 
.ui-widget-header 
.ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover {
    border: 1px solid #1f87c4;
    background-color: #1f87c4;
}