body {
    background: url("../img/hojas.jpg");
    background-attachment: fixed;
}

#logo {
    background-color: #235e3d;
}

#menu ul li:hover {
    background-color: #235e3d;
}

.button-more {
    background-color: #235e3d;
}

.ui-state-active, 
.ui-widget-content 
.ui-state-active, 
.ui-widget-header 
.ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover {
    border: 1px solid #235e3d;
    background-color: #235e3d; 
}